<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-grandient-text">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{board.name}}</p>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns; let i = index">
          <div class="column-title">
            {{ column.name }}
          </div>

          <div class="tasks-container" cdkDropList [id]="'column-' + i"
            [cdkDropListConnectedTo]="getConnectedColumns(i)" [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
              <span class="task-label">
                Tarefa
              </span>
              {{ item.title }}

              <span class="task-label">
                Descrição
              </span>
              {{item.description}}
              <span class="task-label">
                Responsável
              </span>
              {{item.responsible}}
            </div>
            <button (click)="openModal(i)" class="btn"><i class="fa-solid fa-circle-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" [ngClass]="{'show': modalOpen}">
  <div class="modal-content">
    <span class="close ml-auto" (click)="closeModal()">&times;</span>
    <form (submit)="addTask($event, currentColumnIndex!, taskTitle.value,taskDescription.value,taskResponsible.value); taskTitle.value = ''; taskDescription.value = '' ;taskResponsible.value = ''">
      <div class="input-container">
        <div class="input-field-title">
          <input class="input-field" #taskTitle type="text" placeholder="Titulo" required>
          <label for="input-field" class="input-label">Titulo da Tarefa</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-field-description">
          <input class="input-field" #taskDescription type="text" placeholder="Descrição" required>
          <label for="input-field" class="input-label">Descrição da Tarefa</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-field-responsible">
          <input class="input-field" #taskResponsible type="text" placeholder="Responsável" required>
          <label for="input-field" class="input-label">Responsável da Tarefa</label>
          <span class="input-highlight"></span>
        </div>
      </div>
      <button class="input-button mx-auto btn" type="submit">Adicionar</button>
      
    </form>
  </div>
</div>