<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-grandient-text">Escritha Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">A fazer</div>

          <div
            class="tasks-container"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"            
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of todo; track item) {
            <div class="task" cdkDrag>
              {{ item }}
            </div>
            }
          </div>
        </div>

        <div class="board-column">
          <div class="column-title">Feito</div>

          <div
            class="tasks-container"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of done; track item) {
            <div class="task" cdkDrag>
              {{ item }}
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
