
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$family-sans-serif:"poppins", sans-serif;

$control-border-width: 2px;
$input-border-color:transparent;
$input-shadow:none;

html , body{
    height: 100%;
}
html{
    background-image: url(../assets/bg.svg)!important;
    background-size: cover!important;
    overflow-y: auto!important;
}
