










<div class="modal" [ngClass]="{'show': modalOpen}">
  <div class="modal-content">
    <span class="close ml-auto" (click)="closeModal()">&times;</span>
    <form (submit)="Column($event, columnName.value,taskDescription.value,taskResponsible.value); taskTitle.value = ''; taskDescription.value = '' ;taskResponsible.value = ''">
      <div class="input-container">
        <div class="input-field-title">
          <input class="input-field" #columnName type="text" placeholder="Nome" required>
          <label for="input-field" class="input-label">Nome da Coluna</label>
          <span class="input-highlight"></span>
        </div>
      </div>
      <button class="input-button mx-auto btn" type="submit">Adicionar</button>
      
    </form>
  </div>
</div>